
.novaLine1 {
  width:auto;
  height:2px;
  background:#dd0aa8;
  margin: auto;
}
.novaLine {
  width:auto;
  height:2px;
  background:#dd0aa8;
  margin: auto;
}

.button{
  color: #ffffff;
}

ion-content {
  --background: url('../../assets/fundo.jpg') no-repeat !important;
}

ion-checkbox {
  color: #dd0aa8;

}

